body {
    margin: 0 auto;
    padding: 0;
    font-family: "Gayathri", sans-serif;
}

header {
    box-sizing: border-box;
    height: 80px;
    width: 99%;
    border-bottom: solid#F0F0F0 1px;
    padding: 0 100px 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #logo {
    
}

header #container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#container #busca {
    border: solid#F0F0F0 1px;
    display: flex;
    padding: 10px;
    border-radius: 20px;
    width: 400px;
    justify-content: space-between;
}

#container #anuncie {
    padding: 10px;
    border-radius: 20px;
    width: 200px;

}

#container #mundo {
    padding: 10px;
    border-radius: 20px;
    width: 25px;
}

#container #perfil {
    padding: 10px;
    border-radius: 20px;
    width: 20px;
    align-items: center;
    justify-content: space-between 0;
}

main {
    box-sizing: border-box;
    padding: 25px 100px 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

main #info_top_fotos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#info_top_fotos #titulo {
    width: 600px;
    font-size: 22px;
}

#info_top_fotos #links {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

#links #compartilhar {
    display: flex;
    align-items: center;
    margin-left: 30px;
    justify-content: space-between 5px;

    margin-left: 6px;
    font-size: 1rem;
    color: #222;
}

#links #salvar {
    display: flex;
    align-items: center;
    margin-left: 30px;
    justify-content: space-between 5px;

    margin-left: 6px;
    font-size: 1rem;
    color: #222;
}

main #fotos {
    background-color: red;
    width: 100%;
    height: 320px;
}

main #info_fotos_ate_avaliacao {
    background-color: red;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    border-bottom: solid#F0F0F0 1px;
    margin-bottom: 40px;
}

#info_fotos_ate_avaliacao #parte_esquerda {
    width: 60%;
}

#parte_esquerda #avaliacao {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    box-sizing: border-box;
    padding: 20px;
    border: solid#F0F0F0 1px;
    border-radius: 10px;
    height: 110px;
    align-items: center;
    justify-content: space-between;
}

#avaliacao #parte_1 {
   display: flex;
   align-items: center;
}

.parte_1_li {
    display: flex;
    text-align: center;
    align-items: center;
    width: 100px;
    font-size: 16px;
    color: #222;
}

#avaliacao #parte_1 

#avaliacao #parte_2 {
    display: flex;
    align-items: center;
    width: 100px;
}

.parte_2_li {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 16px;
    width: 200px;
}

#avaliacao #parte_3 {
    border-right: solid#F0F0F0 1px;
    height: 40px;
    display: flex;
    align-items: center;
    width: 100px;
}

#avaliacao #parte_4 {
    display: flex;
    align-items: center;
    width: 100px;
    gap: 0;
}

.parte_4_h3 {
    display: flex;
    font-size: 22px;
    align-items: center;
    flex-direction: column;
    gap: 0;
}

#parte_esquerda #anfitriao {
    margin-top: 40px;
    display: flex;
    gap: 30px;
}

#parte_esquerda #ponto_positivo_1 {
    margin-top: 20px;
    padding: 30px 0 30px 0;
    display: flex;
    border-top: solid#F0F0F0 1px;
    gap: 30px;
}

#parte_esquerda #ponto_positivo_2 {
    padding: 30px 0 30px 0;
    display: flex;
    gap: 30px;
}

#parte_esquerda #ponto_positivo_3 {
    margin-bottom: 30px;
    padding: 30px 0 30px 0;
    display: flex;
    border-bottom: solid#F0F0F0 1px;
    gap: 30px;
}

#parte_esquerda #informacoes_traduzidas {
    padding: 20px;
    margin-bottom: 30px;
    background-color: #F0F0F0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#parte_esquerda #texto {
    height: 100px;
    margin-bottom: 40px;
}

#parte_esquerda #outras {
    margin-bottom: 30px;
}

#parte_esquerda #mostrar_mais {
    padding-bottom: 50px;
    border-bottom: solid#F0F0F0 1px;
    margin-bottom: 50px;
}

#parte_esquerda #onde {
    margin-bottom: 20px;

}

#parte_esquerda #imagem_quarto {
    margin-bottom: 20px;
    height: 200px;

}

#parte_esquerda #quarto {
    margin-bottom: 10px;
}

#parte_esquerda #cama {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: solid#F0F0F0 1px;
}

#parte_esquerda #o_que_oferece {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: solid#F0F0F0 1px;
}

#o_que_oferece #titulo {
    margin-bottom: 20px;
}

#o_que_oferece #pontos {
    margin-bottom: 40px;
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

#pontos #ponto_1 {
    display: flex;
    height: 30px;
    width: 300px;
    margin-right: 20px;
    gap: 10px;
    align-items: center;
}

#mostrar_ponto {
    border: solid black 1px;
    border-radius: 10px;
    display: flex;
    padding: 0 23px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 50px;
    width: 50%;
}

#agendar {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#calendario {
    height: 330px;
}

#teclado_limpar {
    display: flex;
    justify-content: space-between;
}

#info_fotos_ate_avaliacao #parte_direita {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#cima_direita {
    background-color: cadetblue;
    width: 100%;
    height: 500px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
    border: solid#F0F0F0 1px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    box-sizing: border-box;
}

#parte_direita #preco_noite {
 
}

#parte_direita #tabela {
    border: solid#F0F0F0 1px;
    border-radius: 10px;
    height: 100px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#tabela #parte_cima {
    width: 100%;
    background-color: blueviolet;
    border-bottom: solid#F0F0F0 1px;
    display: flex;
    box-sizing: border-box;
    padding: 0 10px 0 10px;
    height: 40%;
}

#parte_cima #check_in {
    background-color: red;
    width: 50%;
}

#parte_cima #check_out {
    background-color: red;
    border-left: solid#F0F0F0 1px;
}

#tabela #parte_baixo {
    width: 100%;
    background-color: blueviolet;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#parte_direita #reservar {
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#parte_direita #aviso {
    display: flex;
    align-items: center;
    justify-content: center;
}

#parte_direita #taxa_noite {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#parte_direita #taxa_limpeza {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#parte_direita #taxa_airbnb {
    display: flex;
    justify-content: space-between;
    border-bottom: solid#F0F0F0 1px;
    height: 50px;
}

#parte_direita #total {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#direita_baixo {
    background-color: cadetblue;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#achado {
    height: 100px;
    border: solid#F0F0F0 1px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#denunciar {
    display: flex;
    justify-content: center;
}

#comentarios {
    border-bottom: solid#F0F0F0 1px;
    box-sizing: border-box;
    display: flex;
    background-color: aquamarine;
    margin-bottom: 40px;
    padding-bottom: 40px;
    width: 100%;
}

#comentario {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

#dados_usuario {
    background-color: red;
    display: flex;
    height: 50px;
    gap: 10px;
}

#estrelas_data {
    background-color: red;
    display: flex;
    gap: 5px;
}

#comentario_texto {
    background-color: red;
    height: 65px;
    width: 80%;
}

#comentario_mostrar_mais {
    background-color: red;
}

#local {
    background-color: red;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding-bottom: 40px;
}

#local_mapa {
    background-color: yellow;
    height: 480px;
}

#local_descricao {
    background-color: yellow;
    height: 70px;
}

#deve_saber {
    background-color: red;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding-bottom: 40px;
}

#deve_saber_blocos {
    background-color: yellow;
    display: flex;
    justify-content: space-between;
}

#deve_saber_bloco {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
}

#deve_saber_mais {
    margin-top: 10px;
}

#titulo {
    font-size: 26px;
}

.fotos {
    display: grid;
    grid-template-rows: 180px 180px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
    gap: 10px;
    padding: 0;
    margin: 0;

}

.fotos div {
    width: 100%;
    height: 100%;
}

.fotos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fotos .img1 {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}

.fotos .img1 img {
    border-top-left-radius: 15px;
}

.titulo {
    font-size: 22px;
}

.info_hotel {
    display: flex;
    padding: 0;
    align-items: flex-start;
}

.li-info {
    margin: 5px;
    font-size: 16px;
}

.li_avaliacoes {
    display: flex;
}

#anfitriao #imagem {
    height: 2rem;
    border-radius: 50%; 
    overflow: hidden; 
    
}

.descricao {
    margin: 0;
}

#ponto_decricao_ {
    text-decoration: line-through;
}
